<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rexense.imoco">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="com.rexense.imoco.presenter.MocoApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute"
        tools:replace="android:allowBackup,android:label,android:icon,android:roundIcon,android:theme,android:appComponentFactory"
        android:appComponentFactory="@string/app_name">

        <activity
            android:name="com.rexense.imoco.view.StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.rexense.imoco.view.IndexActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.rexense.imoco.view.SceneMaintainActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.rexense.imoco.view.OneWayCurtainsDetailActivity"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name="com.rexense.imoco.view.OneKeySceneDetailActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.rexense.imoco.view.TwoWayCurtainsDetailActivity"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name="com.rexense.imoco.view.SetTimeActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.rexense.imoco.view.ChoiceActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.rexense.imoco.view.ChoiceProductActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.rexense.imoco.view.ScanBLEActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.rexense.imoco.view.ChoiceWiFiActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.rexense.imoco.view.ConfigureNetworkActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.rexense.imoco.view.ChoiceGatewayActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.rexense.imoco.view.ProductGuidanceActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.rexense.imoco.view.PermitJoinActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.rexense.imoco.view.DetailOneSwitchActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.rexense.imoco.view.DetailTwoSwitchActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.rexense.imoco.view.DetailGatewayActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.rexense.imoco.view.DetailSensorActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.rexense.imoco.view.MoreGatewayActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.rexense.imoco.view.MoreSubdeviceActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.rexense.imoco.view.MessageRecordActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.rexense.imoco.view.ChoiceContentActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.rexense.imoco.view.OALoginActivity"
            android:theme="@style/Login"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.rexense.imoco.view.RegisterActivity"
            android:theme="@style/Register"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.rexense.imoco.view.LoginWithSmsCodeActivity"
            android:theme="@style/Register"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.rexense.imoco.view.ResetPasswordActivity"
            android:theme="@style/Register"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.rexense.imoco.view.ResetPasswordFillPasswordActivity"
            android:theme="@style/Register"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.rexense.imoco.view.RegisterFillPasswordActivity"
            android:theme="@style/Register"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.rexense.imoco.view.MyInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.rexense.imoco.view.DeleteAccountActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.rexense.imoco.view.NickNameActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.rexense.imoco.view.MsgCenterActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.rexense.imoco.view.ShareDeviceActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.rexense.imoco.view.DeviceQrcodeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.rexense.imoco.view.SceneLogActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.rexense.imoco.view.MoreServiceActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.rexense.imoco.view.AboutUsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.rexense.imoco.view.TmallSpiritActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.rexense.imoco.view.TmallSpiritActivity1"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.rexense.imoco.view.H5Activity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.imoco.view.RoomDeviceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.imoco.view.UpgradeFirmwareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.imoco.view.AddRoomDeviceActivity"
            android:screenOrientation="portrait" />

        <service android:name="com.rexense.imoco.utility.BLEService" android:enabled="true"/>

        <!-- 消息接收监听器 （用户可自主扩展） -->
        <receiver
            android:name=".sdk.MyMessageReceiver"
            android:exported="false"> <!-- 为保证receiver安全，建议设置不可导出，如需对其他应用开放可通过android：permission进行限制 -->
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_OPENED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_REMOVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.RECEIVE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>