<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xiezhu.jzj">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="com.xiezhu.jzj.presenter.MocoApplication"
        android:allowBackup="false"
        android:appComponentFactory="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute"
        tools:replace="android:allowBackup,android:label,android:icon,android:roundIcon,android:theme,android:appComponentFactory">

        <activity
            android:name="com.xiezhu.jzj.view.StartActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name="com.xiezhu.jzj.view.NewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.xiezhu.jzj.view.OneWayWindowCurtainsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.xiezhu.jzj.view.IndexActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.xiezhu.jzj.view.SceneMaintainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name=".view.ColorTemperatureChoiceActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name=".view.LightSceneActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name=".view.LightSceneListActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name=".view.SwitchSceneListActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name=".view.SwitchSceneActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.SceneSwitchDeviceListActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name=".view.DeviceActionActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name=".view.FourSceneSwitchActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name=".view.ThreeSceneSwitchActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name=".view.SixSceneSwitchActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name=".view.TwoSceneSwitchActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name=".view.SixTwoSceneSwitchActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="com.xiezhu.jzj.view.ScanGatewayByNetActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="com.xiezhu.jzj.view.BindSuccessActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="com.xiezhu.jzj.view.LockDetailActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="com.xiezhu.jzj.view.OneKeySceneActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="com.xiezhu.jzj.view.EditSceneBindActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="com.xiezhu.jzj.view.ColorLightDetailActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="com.xiezhu.jzj.view.FloorHeatingDetailActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="com.xiezhu.jzj.view.FreshAirDetailActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="com.xiezhu.jzj.view.BindSceneActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="com.xiezhu.jzj.view.UserManagerActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="com.xiezhu.jzj.view.CreateUserActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="com.xiezhu.jzj.view.EditUserActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="com.xiezhu.jzj.view.HistoryActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="com.xiezhu.jzj.view.KeyManagerActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="com.xiezhu.jzj.view.OneWayCurtainsDetailActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>
        <activity
            android:name="com.xiezhu.jzj.view.OneKeySceneDetailActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>
        <activity
            android:name="com.xiezhu.jzj.view.TwoWayCurtainsDetailActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>
        <activity
            android:name="com.xiezhu.jzj.view.SetTimeActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>
        <activity
            android:name="com.xiezhu.jzj.view.ChoiceActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>
        <activity
            android:name="com.xiezhu.jzj.view.ChoiceProductActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>
        <activity
            android:name="com.xiezhu.jzj.view.ScanBLEActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>
        <activity
            android:name="com.xiezhu.jzj.view.ChoiceWiFiActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>
        <activity
            android:name="com.xiezhu.jzj.view.ConfigureNetworkActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>
        <activity
            android:name="com.xiezhu.jzj.view.ChoiceGatewayActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>
        <activity
            android:name="com.xiezhu.jzj.view.EditKeyActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>
        <activity
            android:name="com.xiezhu.jzj.view.ProductGuidanceActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>
        <activity
            android:name="com.xiezhu.jzj.view.PermitJoinActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>
        <activity
            android:name="com.xiezhu.jzj.view.DetailOneSwitchActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>
        <activity
            android:name="com.xiezhu.jzj.view.DetailTwoSwitchActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>
        <activity
            android:name="com.xiezhu.jzj.view.DetailFourSwitchActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>
        <activity
            android:name="com.xiezhu.jzj.view.DetailThreeSwitchActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>
        <activity
            android:name="com.xiezhu.jzj.view.DetailGatewayActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>
        <activity
            android:name="com.xiezhu.jzj.view.DetailSensorActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>
        <activity
            android:name="com.xiezhu.jzj.view.MoreGatewayActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>
        <activity
            android:name="com.xiezhu.jzj.view.MoreSubdeviceActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>
        <activity
            android:name="com.xiezhu.jzj.view.MessageRecordActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>
        <activity
            android:name="com.xiezhu.jzj.view.ChoiceContentActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>
        <activity
            android:name="com.xiezhu.jzj.view.OALoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Login"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.xiezhu.jzj.view.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Register"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.xiezhu.jzj.view.LoginWithSmsCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Register"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.xiezhu.jzj.view.ResetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Register"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.xiezhu.jzj.view.ResetPasswordFillPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Register"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.xiezhu.jzj.view.RegisterFillPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Register"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.xiezhu.jzj.view.MyInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiezhu.jzj.view.DeleteAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiezhu.jzj.view.NickNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiezhu.jzj.view.MsgCenterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiezhu.jzj.view.ShareDeviceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiezhu.jzj.view.DeviceQrcodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiezhu.jzj.view.SceneLogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiezhu.jzj.view.MoreServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiezhu.jzj.view.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiezhu.jzj.view.TmallSpiritActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiezhu.jzj.view.TmallSpiritActivity1"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiezhu.jzj.view.H5Activity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiezhu.jzj.view.RoomDeviceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiezhu.jzj.view.UpgradeFirmwareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiezhu.jzj.view.AddRoomDeviceActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="com.xiezhu.jzj.utility.BLEService"
            android:enabled="true" /> <!-- 消息接收监听器 （用户可自主扩展） -->
        <receiver
            android:name="com.xiezhu.jzj.sdk.MyMessageReceiver"
            android:exported="false"> <!-- 为保证receiver安全，建议设置不可导出，如需对其他应用开放可通过android：permission进行限制 -->
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_OPENED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_REMOVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.RECEIVE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>