<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rexense.smart">
    <!-- com.rexense.imoco -->
    <!--
00-68-EB-C5-66-23
    SgQZHtfLJr3vYMAaIpfA000100
    -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- <uses-permission android:name="android.permission.CAMERA" /> -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name="com.rexense.smart.presenter.MocoApplication"
        android:allowBackup="false"
        android:appComponentFactory="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute"
        tools:replace="android:allowBackup,android:label,android:icon,android:roundIcon,android:theme,android:appComponentFactory">
        <activity android:name="com.rexense.smart.view.TestActivity"></activity>
        <activity
            android:name="com.rexense.smart.view.SubGwInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.AddSubGwActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.PwdChangeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.PwdSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.SlidingValidationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.VerifyCodeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.LocalGatewayListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.LocalActionScenesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.LocalActionValueActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.LocalActionTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.LocalActionIdentifierActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.LocalConditionDevsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.LocalActionDevsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.LocalSceneActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.LocalSceneListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.SelectAssociatedKeyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.SelectAssociatedDevActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.AssociatedBindListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.ChoiceBrandActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.ChoiceRemoteProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.FloorHeatingForFSSActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.FloorHeatingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.FreshAirActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.NewAirForFSSActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.AirConditionerForFSSActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.SceneListForFSSActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.FullScreenSwitchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.LogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.FeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.FeedbackContentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.SceneActionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.NotificationActionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.AddActionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.EditPropertyValueActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.EditPropertyValueForActionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.IdentifierListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.IdentifierListForActionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.DevListForCAActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.DevListForActionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.TimeRangeSelectorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.CustomRepeatDayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.TimeRangeRepeatDayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.TimeSelectorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.AddConditionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.SceneModelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.NewSceneActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name="com.rexense.smart.demoTest.DemoEditSceneActivity" /> <!-- huawei push start -->
        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="103546039" /> <!-- huawei push end -->
        <!-- vivo push start -->
        <meta-data
            android:name="com.vivo.push.api_key"
            android:value="2e62c1883af9e74ff145082e05e0db2a" />
        <meta-data
            android:name="com.vivo.push.app_id"
            android:value="105330794" /> <!-- vivo push start -->
        <activity
            android:name="com.rexense.smart.view.StartActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher"> <!-- @style/AppTheme.NoActionBar -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.rexense.smart.demoTest.DemoTestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.rexense.smart.view.OneWayWindowCurtainsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.rexense.smart.view.IndexActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.rexense.smart.view.SceneMaintainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.ColorTemperatureChoiceActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.LightSceneActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.LightSceneListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.SwitchSceneListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.SwitchSceneActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.SceneSwitchDeviceListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.DeviceActionActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.FourSceneSwitchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.FourSceneSwitchActivity2"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.ThreeSceneSwitchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.ThreeSceneSwitchActivity2"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.SixSceneSwitchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.SixSceneSwitchActivity2"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.USixSceneSwitchActivity2"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.TwoSceneSwitchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.TwoSceneSwitchActivity2"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.SixTwoSceneSwitchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.SixFourSceneSwitchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.SixTwoSceneSwitchActivity2"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.LightActionChoiceActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.ScanGatewayByNetActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.BindSuccessActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.LockDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.OneKeySceneActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.EditSceneBindActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.ColorLightDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.FloorHeatingDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.FreshAirDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.BindSceneActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.UserManagerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.CreateUserActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.EditUserActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.HistoryActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.KeyManagerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.OneWayCurtainsDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.OneKeySceneDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.OneKeySceneDetailActivity2"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.TwoWayCurtainsDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.SetTimeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.ChoiceActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.ChoiceProductActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.ScanBLEActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.ChoiceWiFiActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.ConfigureNetworkActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.ChoiceGatewayActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.EditKeyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.ProductGuidanceActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.PermitJoinActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.DetailOneSwitchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.DetailOneSwitchActivity2"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.DetailTwoSwitchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.DetailTwoSwitchActivity2"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.DetailThreeSwitchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.DetailFourSwitchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.DetailFourSwitchActivity2"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.DetailGatewayActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.DetailSensorActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.MoreGatewayActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.MoreSubdeviceActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.MessageRecordActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.ChoiceContentActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.OALoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Login"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.rexense.smart.view.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Register"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.rexense.smart.view.LoginWithSmsCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Register"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.rexense.smart.view.ResetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Register"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.rexense.smart.view.ResetPasswordFillPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Register"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.rexense.smart.view.RegisterFillPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Register"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.rexense.smart.view.MyInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.DeleteAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.NickNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.MsgCenterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.ShareDeviceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.DeviceQrcodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.SceneLogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.MoreServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.TmallSpiritActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.TmallSpiritActivity1"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.H5Activity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.RoomDeviceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.UpgradeFirmwareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.AddRoomDeviceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.MultiDevActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.AirConditionerForMultiDevActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.FloorHeatingForMultiDevActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.FreshAirForMultiDevActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.LightDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.LocalTimeSelectorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.LocalTimeRangeSelectorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.LocalConditionIdentifierActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.LocalConditionValueActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.SwitchLocalSceneListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.SwitchLocalSceneActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.EditLocalSceneBindActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.LightLocalSceneListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.LightLocalSceneActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.AirConditionerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.TimerLocalSceneListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.TimerLocalSceneActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rexense.smart.view.SubGwGatewayListActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <service
            android:name="com.rexense.smart.utility.BLEService"
            android:enabled="true" /> <!-- 消息接收监听器 （用户可自主扩展） -->
        <!-- 消息接收监听器 （用户可自主扩展） -->
        <receiver
            android:name="com.rexense.smart.sdk.MyMessageReceiver"
            android:exported="false"> <!-- 为保证receiver安全，建议设置不可导出，如需对其他应用开放可通过android：permission进行限制 -->
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_OPENED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_REMOVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.RECEIVE" />
            </intent-filter>
        </receiver>

        <service android:name="com.rexense.smart.service.TestService" />
    </application>

</manifest>